* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}

button {
  cursor: pointer;
}

body, input, button {
  font: 400 1rem "Roboto", sans-serif;
}
input:focus {
  outline: 0;
}
